**/*$py.class
**/*.egg
**/*.egg-info/
**/*.log
**/*.py[cod]
**/*.so
**/.DS_Store
**/.cache
**/.coverage*
**/.eggs/
**/.envrc
**/.pytest_cache/
**/.ruff_cache/
**/.secrets
**/.venv
**/__pycache__/
**/coverage.xml
**/dist/
**/eggs/
**/node_modules/
.python-version
docs/_build/
docs/source/apidocs
docs/source/changelog.md
